Options +FollowSymLinks
RewriteEngine on

RewriteCond %{HTTPS} off
# First rewrite to HTTPS:
# Don't put www. here. If it is already there it will be included, if not
# the subsequent rule will catch it.
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

# Now, rewrite any request to the wrong domain to use www.
RewriteCond %{HTTP_HOST} !^www\.
RewriteRule ^(.*)$ https://www.%{HTTP_HOST}%{REQUEST_URI} [L,R=301]


#RewriteCond %{HTTP_HOST} ^livermetabolism.com [NC]
#RewriteRule ^(.*)$ https://www.livermetabolism.com/$1 [L,R=301]

# RewriteCond %{THE_REQUEST} ^[A-Z]{3,9}\ /([^/]+/)*(default|index)\.(html|php|htm)\ HTTP/ [NC]
# RewriteRule ^(([^/]+/)*)(default|main|index)\.(html|php|htm)$ http://www.xyz.com/$1 [L,R=301]
