services:
  nginx:
    image: nginx:1.29.4
    volumes:
      - $PWD/web:/usr/share/nginx/html/
      - $PWD/nginx/nginx.conf:/etc/nginx/nginx.conf
    ports:
      - "80:80"
    restart: always
    networks:
      - frontend

networks:
  frontend:

