[project]
name = "livermetabolism-site"
version = "0.2.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.13"
dependencies = [
    "pandas",
    "pyyaml",
    "rich",
    "markdown",
    "pandoc",
    "typst>=0.14.1"
]
