---
layout: page
title: Curriculum Vitae
permalink: /cv/
---

<div class="container">

    <div class="row">
        <div class="col-md-4 text-justify">
            <h3>Dr. Matthias König</h3>
            <p>
                <strong>Junior Group Leader</strong><br/>
                <strong>LiSyM - Systems Medicine of the Liver</strong><br/>

                Institute for Biology, Institute for Theoretical Biology<br/>
                Humboldt Universität zu Berlin<br/>
                Invalidenstraße 43, 10117 Berlin, Germany<br/>
                <i class="fa fa-phone"></i> +49 30 2093-8450<br>
                <i class="fa fa-envelope"></i> <a href="mailto:{{ site.email }}">{{ site.email }}</a><br><br>
            </p>
        </div>

        <div class="col-md-3 text-center">
            <img src="/img/people/koenig.png" alt="Dr. Matthias König" class="img-circle" height="200"><br/>
        </div>

        <div class="col-md-2 text-justify">
            <p>
                <br/>
                <i class="fa fa-github"></i> <a href="https://github.com/matthiaskoenig" target="_blank" title="github">{{
                site.github_username }}</a><br/>
                <i class="fa fa-twitter"></i> <a href="https://twitter.com/konigmatt" target="_blank" title="twitter">{{
                site.twitter_username }} </a><br/>
                <img src="/img/orcid.png" height="15"/> <a href="https://orcid.org/0000-0003-1725-179X" target="_blank"
                                                           title="ORCID">orcid</a><br>
                <i class="fa fa-linkedin"></i> <a href="https://www.linkedin.com/in/matthias-k%C3%B6nig-796bb758/"
                                                  target="_blank" title="LinkedIn">LinkedIn </a><br/>
                <i class="fa fa-registered"></i> <a href="https://www.researchgate.net/profile/Matthias_Koenig4/"
                                                    target="_blank" title="ResearchGate">ResearchGate</a><br>
                <i class="fa fa-google"></i> <a href="http://scholar.google.com/citations?user=xD9IjnYAAAAJ&hl=en"
                                                target="_blank" title="Google Scholar">Google Scholar</a><br>
                <img src="/img/publons.png" height="15"/> <a href="https://publons.com/a/1333493/"
                                                             target="_blank"
                                                             title="Publons Review Information">Publons</a>
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-9 text-justify">
            <p>
                Matthias König (PhD. in Biophysics) leads an independent
                <a href="https://livermetabolism.com">junior research group</a> for
                Systems Biology and Systems Medicine of the liver with focus on metabolic research at the
                <a href="https://www.hu-berlin.de">Humboldt University Berlin</a>.
                His research areas include computational modeling, data science,
                development of bioinformatics methods and machine learning based on biological, medical and clinical
                data for predictive modeling of physiological processes and systems.
                He has been actively involved in the development of <a href="http://sbml.org">SBML</a>,
                <a href="http://sed-ml.org">SED-ML</a>
                and software supporting these standards: Lead-developer of
                <a href="https://github.com/matthiaskoenig/cy3sbml">cy3sbml</a> and
                <a href="https://github.com/matthiaskoenig/sbmlutils">sbmlutils</a>;
                co-developer of the SBML simulation software
                <a href="http://libroadrunner.org/">libroadrunner</a> and
                <a href="http://tellurium.analogmachine.org/">tellurium</a>.
                <br/>
                Key projects are the personalized evaluation of liver function tests and multi-scale modeling of the
                liver.
                For more information have a look at our <a href="/projects/">projects.</a>
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <h3>Funding</h3>
            <a href="https://www.bmbf.de/" target="_blank"><img src="/img/bmbf.png" title="BMBF" height="140"></a>&nbsp;&nbsp;
            <a href="https://summerofcode.withgoogle.com/" target="_blank"><img src="/img/gsoc.jpg"
                                                                                title="Google Summer of Code"
                                                                                height="140"></a>
        </div>
        <div class="col-md-5">
            <h3>Positions</h3>
            <table class="table table-hover">
                <tr>
                    <td><b>2018-2020</b></td>
                    <td><a href="http://sbml.org/About/SBML_Core_Developers" target="_blank"><img src="/img/sbml.jpeg"
                                                                                                  title="SBML"
                                                                                                  height="40"/></a></td>
                    <td><strong>SBML Editor</strong><br/>Systems Biology Markup Language</td>
                </tr>
                <tr>
                    <td><b>2017-2019</b></td>
                    <td><a href="https://sed-ml.github.io/about.html"><img src="../img/sedml.png" title="SED-ML"
                                                                           height="40"/></a></td>
                    <td><strong>SED-ML Editor</strong><br/>Simulation Experiment Description Language</td>
                </tr>
            </table>
        </div>
    </div>


    <!--<h3>Education</h3>-->
    <div class="row">
        <div class="col-md-9">
    <h3>Publications</h3>

    <table class="table table-hover">
        {% for publication in site.data.publications %}
        <tr>
            <td><b>{{ publication.year }}</b></td>
            <td>
                {% if publication.pdf %}
                <a href="../paper/{{ publication.pdf }}"><img src="../img/pdf.png" title="pdf" height="20"/></a>
                {% endif %}
                {% if publication.project %}
                <a href="{{ publication.project }}"><img src="../img/project.png" title="Project homepage" height="20"/></a>
                {% endif %}
                {% if publication.repository %}
                <a href="{{ publication.repository }}"><img src="../img/repository.png" title="Repository homepage"
                                                            height="20"/></a>
                {% endif %}
            </td>
            <td>{{ publication.authors }} <br/>
                <i>{{ publication.title }}</i><br/>
                {{ publication.journal }}
            </td>
            <td></td>
        </tr>
        {% endfor %}
    </table>
        </div>
    </div>
</div>
