---
layout: page
title: Projects
permalink: /projects/
---

 <div class="container">
     {% for project in site.data.projects %}
     <div class="row">

        <h2>{{ project.title}}</h2>

        {% for publication in site.data.publications %}
            {% if publication.id == "project.publication" %}
              <p>
              {% if publication.pdf %}
                <a href="../paper/{{ publication.pdf }}"><img src="/img/pdf.png" title="pdf"/></a>
              {% endif %}
              {% if publication.project %}
                <a href="{{ publication.project }}"><img src="/img/project.png" title="project homepage"/></a>
              {% endif %}
              {% if publication.repository %}
                <a href="{{ publication.repository }}"><img src="/img/repository.png" title="repository"/></a>
              {% endif %}
              </p>
              <p>
                {{ publication.authors }}<br />
                <i>{{ publication.title }}</i><br />
                {{ publication.journal }}
              </p>
            {% endif %}
        {% endfor %}

         <div class="col-md-6 text-justify">
            {% for image in project.images %}
            <img alt="{{ project.title }}" title="{{ project.title }}" src="/img/projects/{{ image }}" class="img-responsive"/>
            {% endfor %}
         </div>

         <div class="col-md-6">
            {{ project.abstract }}
        </div>
    </div>
    {% endfor %}

</div>
