---
layout: page
title: Publications
permalink: /publications/
---

<div class="container">
	<table class="table table-hover">
		{% for publication in site.data.publications %}
		<tr>
			<td><b>{{ publication.year }}</b></td>
			<td>
				{% if publication.pdf %}
				<a href="../paper/{{ publication.pdf }}"><img src="../img/pdf.png" title="pdf" height="20"/></a>
				{% endif %}
				{% if publication.project %}
				<a href="{{ publication.project }}"><img src="../img/project.png" title="Project homepage" height="20"/></a>
				{% endif %}
				{% if publication.repository %}
				<a href="{{ publication.repository }}"><img src="../img/repository.png" title="Repository homepage" height="20"/></a>
				{% endif %}
			</td>
			<td>{{ publication.authors }} <br />
				<i>{{ publication.title }}</i><br />
				{{ publication.journal }}
			</td>
			<td></td>
		</tr>
		{% endfor %}
	</table>

</div>
