---
layout: page
title: Editors
permalink: /editors/
sectionid: editors
---

<div class="row">
    <p>
        We are actively involved in the standardization and reproducibility efforts in Systems Biology and Systems Medicine.
    </p>
    <div class="table-responsive">
    <table class="table table-hover">
        {% for editor in site.data.editors %}
        <tr>
            <td><b>{{ editor.term }}</b></td>
            <td>
                {% if editor.homepage %}
                <a href="{{ editor.homepage }}"><img src="../img/project.png" title="Project homepage" height="20"/></a>
                {% endif %}
                {% if editor.repository %}
                <a href="{{ editor.repository }}"><img src="../img/repository.png" title="Repository homepage" height="20"/></a>
                {% endif %}
            </td>
            <td><a href="{{ editor.homepage }}"><img src="../img/editors/{{ editor.image }}" title="{{ editor.name }}" height="35"/></a></td>
            <td><strong>{{ editor.name }}</strong> <br />{{ editor.description }}</td>
        </tr>
        {% endfor %}
    </table>
    </div>
</div>
