---
layout: page
title: News
permalink: /news/
sectionid: news
---

{% include tag_filter.html id="news" target="news-grid" %}

<div class="project-grid" id="news-grid">
    {% for news in site.data.news %}
    <div class="project-card is-clickable" id="news-{{ news.id }}" data-tags="{{ news.tags | join: '|' | escape }}" data-bs-toggle="modal" data-bs-target="#news-modal-{{ news.id }}" role="button" tabindex="0" aria-haspopup="dialog">
        {% if news.image %}
        <img src="{{ "/assets/image/news/" | prepend: site.baseurl }}{{ news.image }}" alt="{{ news.title }}" loading="lazy" class="project-image"/>
        {% elsif news.video %}
        <img src="https://img.youtube.com/vi/{{ news.video | split: '/embed/' | last }}/hqdefault.jpg" alt="{{ news.title }}" loading="lazy" class="project-image"/>
        {% endif %}
        <div class="project-body">
            <p class="news-date">{{ news.date }}</p>
            <h3>{{ news.title }}</h3>
            {% if news.tags %}
            <div class="tag-list">
                {% for tag in news.tags %}
                {% assign tag_info = site.data.tags | where: "tag", tag | first %}
                <span class="tag-badge tag-{{ tag | slugify }}">{% if tag_info.icon %}<i class="fa {{ tag_info.icon }}" aria-hidden="true"></i> {% endif %}{{ tag }}</span>
                {% endfor %}
            </div>
            {% endif %}
            <p>{{ news.short | strip_html | truncatewords: 30 }}</p>
            {% if news.people or news.link %}
            <div class="project-links">
                {% include people_avatars.html people=news.people %}
                <span class="project-links-spacer"></span>
                {% if news.link %}
                <a href="{{ news.link }}" target="_blank" rel="noopener noreferrer" title="Read more"><i class="fa fa-globe" aria-hidden="true"></i></a>
                {% endif %}
            </div>
            {% endif %}
        </div>
    </div>
    {% include news_modal.html news=news %}
    {% endfor %}
</div>
