---
layout: page
title: Publications
permalink: /publications/
---

<div class="row">
	<table class="table table-hover">
		{% for publication in site.data.publications %}
		<tr>
			<td><b>{{ publication.year }}</b></td>
			<td>
				{% if publication.pdf %}
				<a href="/paper/{{ publication.pdf }}"><img src="../img/pdf.png" title="PDF" height="20"/></a>
				{% endif %}
				{% if publication.project %}
				<a href="{{ publication.project }}"><img src="../img/project.png" title="Project homepage" height="20"/></a>
				{% endif %}
				{% if publication.repository %}
				<a href="{{ publication.repository }}"><img src="../img/repository.png" title="Repository homepage" height="20"/></a>
				{% endif %}
			</td>
			<td><strong><i>{{ publication.title }}</i></strong><br />
				{{ publication.authors }}<br />
				{{ publication.journal }}{% if publication.status %} ({{publication.status}}){% endif %}{% if publication.doi %}; doi:<a href="https://doi.org/{{publication.doi}}/">{{publication.doi}}</a>{% endif %}{% if publication.pmid %}; pubmed:<a href="https://pubmed.ncbi.nlm.nih.gov/{{publication.pmid}}/">{{publication.pmid}}</a>{% endif %}
				{% if publication.abstract %}
				<p class="abstract text-justify small">{{ publication.abstract }}</p>
				{% endif %}
				{% if publication.keywords %}
				<p class="small">
				<strong class="small">Keywords:</strong>
				{% for keyword in publication.keywords %}
					{{ keyword }},
				{% endfor %}
				</p>
				{% endif %}
			</td>
			<td></td>
		</tr>
		{% endfor %}
	</table>
</div>