<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container navbar-container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
            <a class="navbar-brand" href="{{ site.baseurl }}/">
                <span><img src="{{site.baseurl}}/img/logonav.png"></span>&nbsp;&nbsp;König Lab
            </a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li {% if page.sectionid=='publications' %} class="active" {% endif %}><a href="{{ "/publications/" | prepend: site.baseurl }}">Publications</a></li>
                <li {% if page.sectionid=='funding' %} class="active" {% endif %}><a href="{{ "/funding/" | prepend: site.baseurl }}">Funding</a></li>
                <li {% if page.sectionid=='projects' %} class="active" {% endif %}><a href="{{ "/projects/" | prepend: site.baseurl }}">Projects</a></li>
                <li {% if page.sectionid=='software' %} class="active" {% endif %}><a href="{{ "/software/" | prepend: site.baseurl }}">Software</a></li>
                <li {% if page.sectionid=='news' %} class="active" {% endif %}><a href="{{ "/news/" | prepend: site.baseurl }}">News</a></li>
                <li {% if page.sectionid=='teaching' %} class="active" {% endif %}><a href="{{ "/teaching/" | prepend: site.baseurl }}">Teaching</a></li>
                <li {% if page.sectionid=='people' %} class="active" {% endif %}><a href="{{ "/people/" | prepend: site.baseurl }}">People</a></li>
                <li {% if page.sectionid=='positions' %} class="active" {% endif %}><a href="{{ "/positions/" | prepend: site.baseurl }}">Open Positions</a></li>
                <li {% if page.sectionid=='cv' %} class="active" {% endif %}><a href="{{ "/cv/" | prepend: site.baseurl }}">CV</a></li>
            </ul>
            <div class="navbar-right">
                <ul class="nav navbar-nav">
                    <li><a href="{{ site.git_address }}"><i class="fa fa-github" aria-hidden="true"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</nav>
